<!DOCTYPE html>
<html>
<head>
	<title>Get Grade</title>
	<meta charset="utf-8" />
</head>

<body>
	<p>Please input grade:</p>
	<input type="text" id="demo1" />
	<input type="button" onclick="getStatus()" value="Get Status" />
	<div id="message"></div>

	<a href="javascript:void(document.body.style.backgroundColor='yellow');">
		Click me! <br />
	</a>

	<input type="button" onclick="guessNumber()" value="Guess a number" />

	<script>
		function getStatus() {
			var grade = document.getElementById("demo1").value;

			// Syntax: condition ? expr1 : expr2
			var status = (Number(grade) >= 55) ? "Pass" : "Fail";
			
			document.getElementById("message").innerHTML = status;
		}

		/**
			JavaScript Function that lets a user guess for a random number
			by prompting a user to input a number.
		**/
		function guessNumber(){
			// Generate a random number to be guessed by the user.
			guess = Math.floor(Math.random()*100);

			do{
				// ask the user for a number
				var x = prompt("Enter a number");

				try{
					//check if user entered a number
					if(x == "") throw "empty";

					//check if input is a number
					if(isNaN(x)) throw "not a number";
					
					x = Number(x);
					if(x<guess) throw "higher!";
					if(x>guess) throw "lower!";
				}
				catch(err){
					alert("Input is "+err);
				}
			}
			while(x!=guess);

			if(x==guess) alert("Your guess is correct! The value is "+guess+".");
		}

	</script>
</body>
</html>
